<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <title>Accueil</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="login.html">Connexion</a></li>
                <li><a href="registration.html">Inscription</a></li>
                <li><a href="listeUsers.html">Liste des membres</a></li>
            </ul>
        </nav>
    </header>
    <h1>DATING</h1>
    <div><img src="../img/love.jpg"></div>



    <footer>
        <p>Dating &copy; tous droits réservés 2018</p>
    </footer>
</body>
</html>