<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/form.css">
    <title>formulaire</title>

</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{index}">Accueil</a></li>
            <li><a th:href="@{login}">Connexion</a></li>
            <li><a href="#">Inscription</a></li>
        </ul>
    </nav>
</header>
<h1>INSCRIPTION</h1>
<div>
    <form th:action="@{/registration}" method="post">
        <fieldset>
            <legend>Utilisateur</legend>
            <p>Type d'utilisateur: <select th:field="*{user.userType}">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            </p>
            <p>Sexe: <select th:field="*{user.gender}">
                <option value="" th:text="${user.gender}" selected></option>
                <option th:each="s : ${gender}" th:value="${s}" th:text="${s.name()}"></option>

                <!--<option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
                <option value="Autre">Autre</option>-->
            </select>
            </p>
            <p>Email <input type="text" th:field="*{user.emailUser}"></p>
            <p>Pseudo <input type="text" th:field="*{user.idUser}"></p>
            <p>Mot de passe <input type="password" th:field="*{user.password}"></p>
            <p>Nom <input type="text" th:field="*{user.lastName}"></p>
            <p>prenom <input type="text" th:field="*{user.firstName}"></p>
            <p>Date de naissance <input type="date" th:field="*{user.birthDate}"></p>
            <p>Tél <input type="text" th:field="*{user.phone}"></p>
            <p>description: </p><textarea rows="5" cols="30" th:field="*{user.description}">Vous pouvez vous décrire votre description ici.</textarea>
        </fieldset>
        <fieldset>
            <legend>Adresse</legend>
            <p>N° de voie: <input type="number" th:field="*{address.num}"></p>

            <p>Préfixe: <select th:field="*{address.prefix}">
                <option value="Bis">Bis</option>
                <option value="Ter">Ter</option>
                <option value="Quater">Quater</option>
            </select>
            </p>
            <p>Type de voie: <select th:field="*{address.streetType}">
                <option value="Rue">Rue</option>
                <option value="Boulevard">Boulevard</option>
                <option value="Avenue">Avenue</option>
            </select>
            </p>
            <p>Nom de voie <input type="text" th:field="*{address.streetName}"></p>
            <p>Complément <input type="text" th:field="*{address.complt}"></p>
            <p>Ville <input type="text" th:field="*{address.city}"></p>
            <p>Code postal <input type="text" th:field="*{address.postalCode}"></p>
        </fieldset>
        <fieldset>
            <legend>Photos</legend>
            <p>Lien URL photo <input type="file" th:field="*{picture.link}"></p>

        </fieldset>
        <fieldset>
            <legend>Situation</legend>
            <p>Orientation sexuelle: <select th:field="*{situation.orientation}">
                <option value="Hetero">Hétéro</option>
                <option value="Homo">Homo</option>
                <option value="Autre">Autre</option>
            </select>
            </p>
            <p>Statut Professionnel <input type="text" th:field="*{situation.statutPro}"></p>
            <p>Statut personnel: <select th:field="*{situation.statutPerso}">
                <option value="Marie">Marié(e)</option>
                <option value="Homme">Concubinage</option>
                <option value="Celibataire">Célibataire</option>
            </select>
            <p>Nombre d'enfant(s) <input type="number" th:field="*{situation.numbOfChildren}"></p>
            <p>Fumeur: <select th:field="*{situation.smoking}">
                <option value="Non">Non</option>
                <option value="Oui">Oui</option>
                <option value="Occassionnellement">Occassionnellement</option>
            </select>
            <p>Alcool: <select th:field="*{situation.alcool}">
                <option value="Non">Non</option>
                <option value="Oui">Oui</option>
                <option value="Occassionnellement">Occassionnellement</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Apparence</legend>
            <p>Origine ethnique <select th:field="*{appearence.ethnicGroup}">
                <option value="Caucasien">Caucasienne</option>
                <option value="Latine">Latine</option>
                <option value="Asiatique">Asiatique</option>
                <option value="Africaine">Africaine</option>
                <option value="Oceanienne">Océanienne</option>
                <option value="Maghrebine">Maghrebine</option>
                <option value="Moyen-orientale">Moyen-orientale</option>
            </select>
            </p>
            <p>Taille <input type="number" th:field="*{appearence.length}"></p>
            <p>Poids <input type="number" th:field="*{appearence.weight}"></p>
            <p>Couleur des yeux <select th:field="*{appearence.eyes}">
                <option value="Bleu">Bleu</option>
                <option value="Vert">Vert</option>
                <option value="Marron">Marron</option>
            </select>
            </p>
            <p>Type de cheveux <input type="text" th:field="*{appearence.hairType}"></p>
            <p>Couleur des cheveux <select th:field="*{appearence.hair}">
                <option value="Blond">Blond</option>
                <option value="Brun">Brun</option>
                <option value="Chatain">Chatain</option>
                <option value="Gris">Gris</option>
                <option value="Roux">roux</option>
                <option value="Autre">autre</option>
            </select>
            </p>
        </fieldset>
        <fieldset>
            <legend>Centre d'indérêts</legend>
            <p>Loisirs:</p>
            <p>Musique <input type="checkbox" th:name="musique" th:checked="*{hobby.leisure}">
                Cinéma <input type="checkbox" th:name="cinema" th:checked="*{hobby.leisure}">
                Arts <input type="checkbox" th:name="arts" th:checked="*{hobby.leisure}">
                Littérature <input type="checkbox" th:name="litterature" th:checked="*{hobby.leisure}">
                Autre <input type="checkbox" th:name="autre" th:checked="*{hobby.leisure}">
            </p>
            <p>Sports:</p>
            <p>Jogging <input type="checkbox" th:name="jogging" th:checked="*{hobby.sport}">
                Football <input type="checkbox" th:name="football" th:checked="*{hobby.sport}">
                Tennis <input type="checkbox" th:name="tennis" th:checked="*{hobby.sport}">
                Arts martiaux <input type="checkbox" th:name="artsMartiaux" th:checked="*{hobby.sport}">
                Basketball <input type="checkbox" th:name="basketball" th:checked="*{hobby.sport}">
                Golf <input type="checkbox" th:name="golf" th:checked="*{hobby.sport}" >
                Autre <input type="checkbox" th:name="autre" th:checked="*{hobby.sport}">
            </p>
        </fieldset>
        <fieldset>
            <legend>Multimedia</legend>
            <p>Type de media <select th:field="*{multimedia.mediaType}">
                <option value="Musique">Musique</option>
                <option value="Jeux videos">Jeux videos</option>
                <option value="Film">Film</option>
                <option value="Serie">Série</option>
            </select>
            </p>
            <p>Genre de media <select th:field="*{multimedia.kindOfMedia}">
                <option value="Classique">Classique</option>
                <option value="Fantastique">Fantastique</option>
                <option value="Polar">Polar</option>
                <option value="Comedie">Comédie</option>
                <option value="Romantique">romantique</option>
                <option value="Culte">Culte</option>
            </select>
            </p>
            <p>Artiste <input type="text" th:field="*{multimedia.artist}"></p>
            <p>Titre <input type="text" th:field="*{multimedia.title}"></p>
        </fieldset>
        <p><input type="reset" value="EFFACER"><input type="submit" value="VALIDER"></p>
    </form>
</div>
<footer>
    <p>Dating &copy; tous droits réservés 2018</p>
</footer>

</body>
</html>